<div class="page-header">
  <h1>Mission</h1>
</div>

<p>
  Our mission is to provide a wide range of services to our customers by delivering guidance and assistance to all areas of Kaplan University, and to support them in developing internships for the students as they grow. KapConsulting will provide the best resources for our customers while fostering an internship program that will further their skills in a business environment. In doing so, KapConsulting will access all of the intern’s skills that they have learned in the Kaplan School of Business, making them better qualified to enter corporate America as a highly trained professional or become an entrepreneur. Essentially, KapConsulting wants to deliver services to all educational areas of Kaplan University, to support them in developing internships for the students as they grow. KapConsulting will also work with small, not for profit, businesses to provide educational resources for the success of their futures. We want to be able to provide the best resources for our customers by using the skills of our top School of Business students, in an internship program that gives our customers quality service and our interns knowledge of developing and managing a business.
</p>
<p>
  Makes sure all interns are evaluated on progress in the classroom and the internship to create effective knowledge and skills from the experience, which includes, but are not limited to, recognition and accomplishment in the workplace.
</p>

<div class="page-header">
  <h1>Vision</h1>
</div>

<p>
  Our vision for the future is to be a quality service based organization providing quality services to not for profit organizations and internal services to Kaplan University to help farther the success of professional disciplines offered by the university. KapConsulting has a future interest in expanding the consulting business to include private sector businesses while, simultaneously developing student interns to prepare them for the business world. Kaplan’s School of Business will offer KapConsulting as an elective for the purposes of fulfilling graduation requirements and the development of business management skills.
</p>